/* Your styles here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

body {
    background-color: #e9edee;
}

/* Header +++++++++++++++++++++++++++++++++++++++++++*/
.headerLogo {
    background-color: #222f3f;
    padding: 10px;
    padding-left: 30px;
}

.imgLogo {
    width: 150px;
}

.headerList {
    background-color: #364759;
    padding: 5px;
    padding-left: 30px;
    color: white;
}

.headerList span {
    margin-left: 15px;
}

/* Main +++++++++++++++++++++++++++++++++++++++++++*/
.main {
    width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* shop +++++++++++++++++++++++++++++++++*/
.shop {
    background-color: #f56600;
    text-align: center;
    color: white;
    padding: 10px;
}

/* Holiday +++++++++++++++++++++++++++++++++*/
.holiday {
    margin-top: 30px;
    background-image: url(../images/bg-image.png);  /*   qui l'immagine non si deve allagare*/
    padding: 60px;
    text-align: center;
    color: white;
}

.holiday h4 {
    margin-top: 25px;
}

/* find +++++++++++++++++++++++++++++++++*/
.find {
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    
}

.find span a, .play span a {
    text-decoration: none;
    color: #3d7380;
    font-size: 16px;
    margin-left: 20px;
}

.findImg {
        text-align: center;
        padding: 0px;
}

.findImg img {
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* play +++++++++++++++++++++++++++++++++*/
.play {
    margin-top: 30px;
    text-align: center;
}

.play span a{
    text-decoration: none;
    color: #3d7380;
    font-size: 16px;
    margin-left: 20px;
}

.play img {
    width: 100%;
    height: 400px;
}

/* Footer +++++++++++++++++++++++++++++++++++++++++++*/
.back {
    background-color: #364759;
    text-align: center;
    padding: 15px;
}

.back a {
    color: white;
}

.footerLogo {
    background-color: #222f3f;
    text-align: center;
    padding: 60px;
}

.footerLogo img {
    width: 200px;
}