/* Your styles here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

body {
    background-color: #e9edee;
}

.holiday, .play, .find {
    margin-top: 30px;
}

.shop, .holiday, .play, .back {
    text-align: center;
}

.headerLogo, .footerLogo {
    background-color: #222f3f;
}

.headerList, .back {
    background-color: #364759;
}

.headerList a, .back a {
    color: white;
}

/* Header +++++++++++++++++++++++++++++++++++++++++++*/
.headerLogo {
    padding: 10px;
    padding-left: 30px;
}

.imgLogo {
    width: 150px;
}

.headerList {
    padding: 5px;
    padding-left: 30px;
}

.headerList span {
    margin-left: 15px;
}

.headerList a{
    text-decoration: none;
}

/* Main +++++++++++++++++++++++++++++++++++++++++++*/
.main {
    width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* shop +++++++++++++++++++++++++++++++++*/
.shop {
    background-color: #f56600;
    color: white;
    padding: 10px;
}

/* Holiday +++++++++++++++++++++++++++++++++*/
.holiday {
    background-image: url(../images/bg-image.png);
    padding: 60px;
    color: white;
}

.holiday h4 {
    margin-top: 25px;
}

/* find +++++++++++++++++++++++++++++++++*/
.find {
    background-color: white;
    padding: 10px;
    
}

.find h3 {
    margin-left: 10px;
}

.find span a, .play span a {
    text-decoration: none;
    color: #2f707b;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 600;
}

.findImg {
    text-align: center; /* Per centrare gli elementi inline (come le immagini) */
}

.findImg img {
    display: inline-block;
    margin: 10px;
    width: 23%;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* play +++++++++++++++++++++++++++++++++*/

.play img {
    width: 100%;
    height: 450px;
}

/* Footer +++++++++++++++++++++++++++++++++++++++++++*/
.back {
    background-color: #364759;
    padding: 15px;
}

.back a {
    font-weight: 600;
}

.footerLogo {
    text-align: center;
    padding: 60px;
}

.footerLogo img {
    width: 200px;
}